# Database Configuration
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# Authentication Configuration
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

# Application Configuration
SITE_URL="http://localhost:3000"
SITE_NAME="CodeLumus"
AUTHOR_NAME="Your Name"

# Email Configuration
EMAIL_SERVER_HOST="smtp.resend.com"
EMAIL_SERVER_PORT=465
EMAIL_SERVER_USER="your-email-server-user"
EMAIL_SERVER_PASSWORD="your-email-server-password"
EMAIL_FROM="your-email@domain.com"

# Admin Configuration
ADMIN_EMAIL="admin@domain.com"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

# NextAuth Configuration
NEXTAUTH_SECRET="your-nextauth-secret" 